.photo-grid {
  margin: 0 auto 0 auto;
  max-width: 1184px;
  gap: 16px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: reapeat(3, 1fr);
  padding: 0 0 92px 0;
  overflow:inherit;
}

@media screen and (max-width: 1279px) {
  .photo-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: reapeat(4, 1fr);
    max-width: 928px;
  }
}


@media screen and (max-width: 1023px) {
  .photo-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: reapeat(6, 1fr);
    max-width: 720px;
    padding: 0 0 88px 0;
  }
}

@media screen and (max-width: 767px) {
  .photo-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: reapeat(12, 1fr);
    width: 425px;
    padding: 0 0 64px 0;
    gap: 12px;
  }
}

@media screen and (max-width: 424px) {
  .photo-grid {
    width: 320px;
  }
}