.footer__copyright  {
  color: #FFFFFF;
  font-size: 14px;
  line-height: 16px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .footer__copyright {
    line-height: 14px;
    margin: 48px 16px 0 16px;
  }
}