.cover {
  max-width: 1184px;
  width: 100%;
  min-height: 740px;
  background-image: url(../../images/cover-trains.jpg);
  background-size: cover;
  background-position: center;
  padding: 0;
  margin: 0 auto;
}

@media screen and (max-width: 1279px) {
  .cover {
    max-width: 1024px;
    min-height: 640px;
  }
}

@media screen and (max-width: 1023px) {
  .cover {
    max-width: 768px;
    min-height: 480px;
  }
}

@media screen and (max-width: 767px) {
  .cover {
    min-height: 265.625px;
    max-width: 425px;
  }
}

@media screen and (max-width: 424px) {
  .cover {
    min-height: 200px;
    max-width: 320px;
  }
}