.cover__overlay {
  max-width: 100%;
  min-height: inherit;
  background: rgba(42, 44, 47, 30%);
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
  transition: background .1s linear;
}

.cover__overlay:hover {
  background: rgba(42, 44, 47, 80%);
  transition: opacity .2s linear;
}

@media screen and (max-width: 767px) {
  .cover__overlay {
    gap: 16px;
  }
}
